<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Employee</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Montant</label>
            <input type="" class="form-control"  value="{{permanentTransferAgreement?.amount}}"/>
          </div>
          <div class="form-group">
            <label>codePermanentTransferAgreement</label>
            <input type="email" class="form-control"  value="{{permanentTransferAgreement?.codeDueDate}}"/>
          </div>
          <div class="form-group">
            <label>financialOrderReason</label>
            <input type="email" class="form-control"  value="{{permanentTransferAgreement?.financialOrderReason}}"/>
          </div>
          <div class="form-group">
            <label>reductionCustomer</label>
            <input type="email" class="form-control"  value="{{permanentTransferAgreement?.reductionCustomer}}"/>
          </div>
        </div>
    </div>
  </div>
</div>
