<!-- Edit Modal HTML -->
<div id="addEmployeeModal" class="">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Créer une Conventions de Virement Permanent</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Compte à débiter</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Compte à créditer</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Périodicité</label>
            <ul>
              <li *ngFor="let periodicity of periodicities">
                <span>{{periodicity.id}}</span> {{periodicity.wording}}
              </li>
            </ul>
          </div>
          <div class="form-group">
            <label>Montant de l'opération</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <input matInput [matDatepicker]="picker" placeholder="Date de réglement">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>           
          </div>
          <div>
            <label>Saisir des références complémentaires</label>
          </div>
          <div class="form-group">
            <label>Référence du paiement (recommandé)</label>
            <input dtype="text" maxlength="35" placeholder="Référence du paiement (recommandé)" />
          </div>
          <div class="form-group">
            <label>Motif du paiement (recommandé)</label>
            <input dtype="text" maxlength="35" placeholder="Motif du paiement (recommandé)" />
          </div>
          <div class="form-group">
            <label>Motif du paiement (recommandé)</label>
            <input dtype="text" maxlength="35" placeholder="Motif du paiement (recommandé)" />
          </div>
          <div class="form-group">
            <label>Motif du paiement (recommandé)</label>
            <input dtype="text" maxlength="35" placeholder="Motif du paiement (recommandé)" />
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler" (click)="backClicked()" />
          <input type="submit" class="btn btn-success" value="Ajouter" />
        </div>

        <p><i>Les caractères suivants sont autorisés : a à z, A à Z, 0 à 9, / - ? : ( ) . ,</i></p>
      </form>
    </div>
  </div>
</div>